html,
body {
height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #970C10;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.signup {
    margin: center;
    margin-left: auto;
    margin-right: auto;
    align-self: start;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Roboto', sans-serif;
}